/* Loader */
.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loader div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #009688;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/* Stories Table */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .stories-table,
  .stories-table * {
    display: block !important;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .stories-table__head {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .stories-table__row:not(:first-of-type) {
    padding-top: 1rem;
  }

  .stories-table__cell {
    display: block;
    border: none;
    position: relative;
    padding-left: 40% !important;
  }

  .stories-table__cell:first-of-type {
    border-top-color: transparent !important; 
  }

  .stories-table__cell::before {
    content: attr(data-label);
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    width: calc(40% - 0.5rem);
    padding-right: 0.5rem;
    white-space: nowrap;
  }
}